video {
    /*天地中央配置*/
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.instagram{  
    position: absolute;
    z-index: 99;
    top: 30px;
    right: 90px; 
    width: 50px; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 50px; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
}
.twitter{  
    position: absolute;
    z-index: 99;
    top: 30px;
    right: 30px;  
    width: 50px; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 50px; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
}
.mail{  
    position: absolute;
    z-index: 99;
    top: 30px;
    right: 150px;  
    width: 50px; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 50px; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 815px;
    left: 210px;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 10px 10px 10px rgb(37, 37, 37);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 920px;
    left: 400px;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 10px 10px 10px rgb(37, 37, 37);
}
